<!DOCTYPE html>
<html>

<head>
  <link rel="canonical" href="https://www.maiscrm.com/">
  <link id="shortcutIcon" rel="shortcut icon" href="/libs/favicon.ico">
  <meta charset="utf-8">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <script src="/libs/jweixin-1.4.0.min.js"></script>
  <script src="/libs/vue-2.6.10.min.js"></script>
  <script src="/libs/vue-router-3.0.2.min.js"></script>
  <script src="/libs/moment-2.24.0.min.js"></script>
  <script src="https://staging-open.maiscrm.com/sdks/maijs/1.19.min.js"></script>
  <!-- 模块内的 libs -->
  <script src="<%= OUTPUT_PATH %>/libs/a.js"></script>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>
</html>
